@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:wght@700&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  font-family: "Satoshi", sans-serif;
}

.hero {
  background-image: linear-gradient(
    to right,
    #fff,
    rgba(161, 89, 255, 0.167),
    rgba(255, 114, 98, 0.112),
    #fff
  );
  width: 100%;
  margin: auto;
}

#mobileMenu {
  transition: right 0.3s ease;
}

.alumni {
  background: rgba(235, 240, 255, 1);
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.alumnibg {
  background: url(./pngfind\ 1.png);
  background-position: center;
  margin-bottom: 20px;
}

.bg-white1 p {
  display: none;
}

.bg-white1.open p {
  display: block;
}

.foot {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  background: rgba(0, 17, 58, 1);
}

/*  */
/* Other CSS rules... */

/* Rectangles */
.rectangle-blue {
  width: 200px;
  height: 6px;
  background-color: blue;
  margin-top: 10px;
  transition: background-color 0.8s, width 0.8s;
}

.rectangle-grey {
  width: 200px;
  height: 6px;
  background-color: rgba(68, 82, 213, 0.126);
  margin-top: 10px;
  transition: background-color 0.8s, width 0.8s;
}

/* Active and inactive styles */
.active span {
  /* color: blue; */
  transition: color 0.8s;
}

.inactive span {
  color: rgba(192, 192, 193, 1);
  transition: color 0.8s;
}

/* Grey divider */
.grey {
  background-color: rgba(68, 82, 213, 0.126);
  width: 40px;
  height: 6px;
  margin-top: 50px;
}

.greylong {
  background-color: rgba(68, 82, 213, 0.126);
  width: 100%;
  height: 6px;
  margin-top: 50px;
}

/* Content transition */
.content {
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
  transform: translateY(20px);
}

.content.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}
.timeline {
  background: linear-gradient(rgba(16, 2, 1, 0.76), rgba(16, 2, 1, 0.76)),
    url("./timeline.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.timebg {
  /* background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)); */

  background: #ffffff80;
}

.gradient {
  background: linear-gradient(180deg, #8e2de2 0%, #4a00e0 100%);
}
.orange {
  background: linear-gradient(
    117.65deg,
    rgba(253, 200, 48, 0.9) -212.63%,
    rgba(243, 115, 53, 0.9) 153.26%
  );
}
